.carousel {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    background-color: #222;
}

/* Los slides estan ocultos por defecto */
.slide {
    display: none;
    width: 100%;
    height: 100%;
}

/* Solo el slide activo se muestra */
.slide.active {
    display: block !important;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto evita que las imagenes se distorsionen */
}
